body {
  font-family: "nanumesquareneo";
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#wrapper {
  width: 440px;
  height: 956px;
  background-color: #f5f3ea;
  display: flex;
  flex-direction: column;
  position: relative;
}
header {
  height: 30px;
  padding: 20px 15px 20px 15px;
  border-bottom: solid 1px #717171;
  width: 410px;
  background-color: #f5f3ea;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconContainer {
  display: flex;
  gap: 15px;
  display: flex;
  align-items: center;
}
.iconContainer > a {
  display: flex;
  align-items: center;
}
.icon {
  width: 23px;
  align-items: center;
}
